---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';

---

<Layout>
	<Header />
	<div class="flex flex-1 min-h-screen">
		<Container />
	</div>
	<Footer />
</Layout>
