---
import User from "../icons/user.astro"
---

<div id="sobre-mi" class="flex flex-col py-8 md:my-40 gap-12 p-4 md:py-8 md:px-[5.5rem] lg:px-16 mx-auto w-screen max-w-7xl">
    <section class="flex gap-4 items-center">
        <User class="size-7"/>
        <h1 class="text-2xl">Sobre mí</h1>
    </section>
    <main class="flex flex-wrap lg:flex-nowrap justify-between gap-8 md:gap-16  p-4 lg:p-8 rounded w-full shadow-lg shadow-slate-300 bg-slate-900/70">
        <div class="rounded md:w-96 border-2 mx-auto shadow-lg shadow-yellow-50 border-yellow-400">
            <img class="object-cover h-full" src="/logo.jpeg" alt="Foto de Engels"/>
        </div>
        <section class="flex mx-auto w-full px-4 md:px-8 lg:w-1/2 text-lg lg:text-xl justify-center flex-col gap-6 lg:pr-2">
            <p>
                Soy Engels un joven dominicano 🇩🇴
                <strong class="text-yellow-500">desarrollador web y diseñador.</strong>
                Soy una persona entusiasta y con una gran pasión por el aprendizaje. Destacao por mi, compromiso y deseo de crecer en el ámbito laboral. 
            </p>
            <p>
                <strong class="text-yellow-500">
                Tengo un gran interés en adquirir nuevas habilidades</strong> y poner en práctica los conocimientos que ha desarrollado a través de estudios, proyectos personales y aprendizaje autodidacta.
            </p>
            <p>
                Me caracterizo por ser proactivo, con una gran disposición para asumir retos y adaptarse rápidamente a diferentes entornos.<strong class="text-yellow-500"> Listo para aportar valor a cualquier equipo o proyecto en el que tenga la oportunidad de participar.</strong>
            </p>
        </section>
    </main>
</div>