---
import AboutMe from "./AboutMe.astro";
import Contacto from "./contacto.astro";
import Hero from "./Hero.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
---

<div class="flex flex-col mx-auto w-screen max-w-7xl">
    <Hero />
    <Projects />
    <Skills />
    <AboutMe />
    <Contacto />
</div>