---
// Importar NavBar
import NavBar from './NavBar.astro';
---

<header class="flex mt-3 fixed rounded-2xl backdrop-blur-3xl w-[95%] max-w-[660px] justify-between p-2 items-center m-4 lg:mx-16 md:max-w-2xl lg:max-w-6xl z-50">
  <a class="inicio" href="#">
    <img class="size-12 rounded-full" loading="lazy" src="/logo.jpeg" alt="Logo" />
  </a>
  <NavBar />
</header>

<style>
  header {
    transform: translateY(-100%);
    animation: entry 1s linear forwards;
  }

  @keyframes entry {
    100% {
      transform: translateY(0);
    }
  }
</style>
