---
import Code from "../icons/code.astro"
import ProjectItem from "./ProjectItem.astro"


const Project = [
{
    title: "EGshop - Tienda de ropa online",
    description: "Tienda en linea con una api de pruebas que devuelve una lista de productos donde puedes filtrar por categoria, ordenar por precio y buscar por su descripcion.",
    tecno: ["React","Tailwind" ],
    image: "/EGshop.png",
    github: "https://github.com/engelsgermosen/Shop.git",
    link: "https://egshop.vercel.app/"
},
{
    title: "EGmarket - Mira las 100 criptomonedas mas importantes",
    description: "Pagina web para ver las 100 criptomonedas mas importantes del mercado, con su respectivo precio, capitalizacion de mercado y volumen de 24 horas.",
    tecno: ["HTML","Css", 'JS' ],
    image: "/egMarket.png",
    github: "https://github.com/engelsgermosen/CriptoApp.git",
    link: "https://egmarket.vercel.app/"
},
{
    title: "Age-Calculator - Calcula tu edad",
    description: "Pagina web para calcular tu edad, solo tienes que ingresar tu fecha de nacimiento y listo.",
    tecno: ["React","Tailwind" ],
    image: "/age-calculator.png",
    github: "https://github.com/engelsgermosen/age-calculator.git",
    link: "https://age-calculator-eg.vercel.app/"
},
{
    title: "WeatherApp - Aplicacion del clima",
    description: "Pagina web para ver el clima de cualquier ciudad del mundo, solo tienes que ingresar el nombre de la ciudad y listo.",
    tecno: ["HTML","Css","JS" ],
    image: "/weatherApp.png",
    github: "https://github.com/engelsgermosen/WeatherApp.git",
    link: "https://weather-app-eg.vercel.app/"
}
]
---

<div id="project" class="flex flex-col gap-8 p-4 py-8 md:py-8 md:px-[5.5rem] lg:px-16 mx-auto w-screen max-w-7xl">
    <section class="flex gap-4 items-center">
        <Code class="size-7"/>
        <h1 class="text-3xl font-semibold">Proyectos</h1>
    </section>

    <main class="flex flex-col gap-4 md:gap-16">
        {
            Project.map((project) =>(
                <ProjectItem {...project} />
            ))
        }
    </main>
</div>


<style>
    @keyframes reveal {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
</style>